body {
    background-color: rgb(5, 28, 69);
    opacity:2;
}
h2 {
    color: white;

    display: inline;

}
.Brand{
    font-size: 21px;
    font-family: Tahoma, Verdana, sans-serif;
    padding-right: 40px;


}
.Navigation-bar {
    padding-left: 12%;
     font-family: Geneva, Verdana, sans-serif;
    

}
ul {
    display: inline;
    
    padding: 2px 1px 0px 2px;
    font-size: small;
    font-style: initial;
    margin-bottom: 30px;

}

li {
    display: inline-block;
    color: rgb(251, 253, 254);
    padding: 3px 6px 4px 5px;
    font-size:10px;
    
    
    
}
.lop{
    
    display: inline-block;
    padding-right: 21px;
    font-size:xx-small;
    padding: 0px 2px 9px 14px;
    
}
.visit {
    
    
    padding-right: 21px;
    font-size: small;
    padding: 0px 7px 9px 175px;
    text-align: center;
}
a {
    color: #ffff;
    text-decoration: none;
    font-size: large;


}
.active {
    background-color: deepskyblue;
    font: size 30px;
    padding: 10px 10px 10px 10px;
    display: block;
    align-items: center;
    text-align: center;
    border-radius: 4px;
}
.form {
    color: #3c97be;
    text-align: center;
    text-transform: lowercase;
    padding-top: 35px;
    text-align: center;
}
.para {
    color: #ffff;
    margin-bottom: 19px;
    text-align:center;
    font-size:  33px;
    font-family: Tahoma, Verdana, sans-serif;
    height: 138px;
}
.objects {
    color: aliceblue;
    font-size: 17px;
    text-align: center;
    height: 83px;
}
a {
    color: #ffff;
    text-decoration: none;
    font-size: large;


}
.hover1 {
    background-color: deepskyblue;
    color: #fff;
    font: size 30px;
    padding: 7px 14px 11px 14px;
    display: inline-block;
    align-items: center;
    text-align: center;
    border-radius: 6px;
    margin-left: 431px;
}

.hover2 {
    border-radius: 6px;
     padding: 6px 20px 9px 31px;
    border-color:deepskyblue;
    border: groove deepskyblue;
    color:rgb(12, 170, 243);
    background-color:transparent;


}
.button{
    padding: 0px 1px 1px 39px ;

}
.display i {
    width: 13%;
    height: 34px;
    
    padding: 17px 0px 0px 15px;
    transition: all 0.3s ease;
    font-size: 18px;
    border-radius: 3px;
    opacity:5;
}

.display h3{
    padding-top: 9%;
    padding-right:47px ;
    padding-left: 3px;
    padding-bottom: 3px;
    margin: 0px;


}

.line  {
    border:solid 1px red;;
    width: 100px;
    padding-right: 3px;
    margin-right: 150px;
    transition: 1s ;
}
.display:hover .line{
border-color:#ffff ;

color: #ffff;
}
.display:hover{
 
color: #ffff;
}
.total{
    float: right;
    margin-right: 8%;
    margin-top: 3%;

}
.display {
    background-color: #fff;
    padding: 20px;
    width: 244px;
    height: 148px;
    margin: 0px 10px;
    padding-bottom:65px;
    transition: 1s ;
    
    display: inline-block;
    
}

.display:hover{
    background-color:deepskyblue;
}
.fa-face-smile{
    color:red;
    opacity: 0.5;
}
.fa-face-smile{
    color:red;
    border: 3px;
    border-radius: 2px ;
    background-color:orange;
    opacity: 0.5;
    
}
.fa-check-double{
    color:rgb(9, 180, 227);
    border: 3px;
    border-radius: 2px ;
    background-color:lightgreen;
    opacity: 0.5;
    
}
.fa-credit-card{
    border: 3px;
    border-radius: 2px ;
    background-color:white;
    font-size:38px;
    
}
 .display:hover  .fa-check-double{
    background-color: rgb(161, 212, 205);
    color: white;



}
.display:hover  .fa-face-smile{
    background-color: rgb(161, 212, 205);
    color: white;

}